/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v22-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v22-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v22-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v22-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

 html {
     box-sizing: border-box;
 }
 *,*::after, *::before {
     box-sizing: inherit;
 }

 body{
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
 }

img {
    max-width: 100%; /* РёР·РѕР±СЂ РЅРµ РґРѕР»Р¶РЅРѕ РїСЂРµРІС‹С€Р°С‚СЊ СЂР°Р·РјРµСЂ РєРѕРЅС‚РµР№РЅРµСЂР°, РІ РєРѕС‚РѕСЂРѕРј РЅР°С…РѕРґРёС‚СЃСЏ */
    height: auto; /* С‡С‚РѕР±С‹ РІСЃРµРіРґР° СЃР¶РёРјР°Р»РѕСЃСЊ РїСЂРѕРїРѕСЂС†РёРѕРЅР°Р»СЊРЅРѕ РїРѕ РІС‹СЃРѕС‚Рµ */
 }

 .wrapper {
    max-width: 1060px;  
    margin: 0 auto;  /* С†РµРЅС‚СЂРёСЂРѕРІР°РЅРёРµ РІ СЂРѕРґРёС‚РµР»Рµ */
    padding: 0 20px;
 }

 .wrapper_full{
    max-width: 1260px;  
    margin: 0 auto;
    padding: 0 20px;

 }

 .section_title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
 }
 .section_title::after{ /* РїРѕРґС‡РµСЂРєРёРІР°РЅРёРµ Р·Р°РіРѕР»РѕРІРєР°*/
     display: block;
     content: '';  /* Р±РµР· СЃРІРѕР№СЃС‚РІР° content РїСЃРµРІРґРѕСЌР»РµРјРµРЅС‚ РЅРµ РїРѕСЏРІРёС‚СЃСЏ РЅР° СЃС‚СЂР°РЅРёС†Рµ*/
     width: 253px;
     height: 3px;
     background-color: #006DFE;
     position: absolute;
     bottom: 0;
     left: 0;

 }


 /* Header-styles start */
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: 0.5s ease-out;
}

.header_scroll {
    background: #000000 ;
    opacity: 80%;
    z-index: 100;
    padding-bottom: 15px;
}

 .header_wrapper {
     display: flex;
     flex-wrap: wrap;
     align-items: flex-end; 
     justify-content: space-between;
     padding-top: 56px;

 }

 .header_list {
     display: flex;
     flex-wrap: wrap;
 }
 .header_item {
     margin-right: 82px;
 }
 .header_item:last-child {
     margin-right: 0px;
 }

 .header_link {
     color: white;
     text-decoration: none;
     font-size: 18px;
     line-height: 24px;
 }
 
 .header_link:hover, .header_link:focus, .header_link:active {
     opacity: .75;
 }

 .burger {
     display: none;
     width: 40px;
     height: 30px;
     position: relative;
 }

 .burger_line{
     display: block;
     height:1px;
     width: 100%;
     background-color: #FFFFFF;
     position: absolute;
     right: 0;
 }
 .burger_line_top{
     top: 0;
 }
 .burger_line_center{
    top: 50%;
    /* transform: translateY(-50%); */
}
 .burger_line_bottom{
     bottom: 0;
 }

 
 /* Header-styles end */

 /* Intro styles start */

.intro {
    min-height: 100vh;
    background: url(../img/intro-bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;  /* Р·Р°С‰РёС‚Р° РѕС‚ РЅР°РµР·Р¶Р°РЅРёСЏ РєРѕРЅС‚РµРЅС‚Р° */
}
.intro_title {
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    max-width: 619px;
    margin-bottom: 22px;
}
.intro_subtitle{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    max-width: 546px;
    margin-bottom: 59px;
}

.search_form-info {
    display: flex;
    flex-wrap: wrap; /* СѓР±СЂР°С‚СЊ РѕС‚СЃС‚СѓРїС‹ РјРµР¶РґСѓ РїРѕР»СЏРјРё С„РѕСЂРјС‹*/
    margin-bottom: 153px;
}

.search_form-field{
    background: transparent url(../img/svg/circle-icon.svg) no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    width: 297px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}

.search_form-field::placeholder{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.search_form-submit{
    padding: 15px 39px;
    background: #1B7DFF;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 24px;
}

.search_form-submit:hover, .search_form-submit:focus, .search_form-submit:active {
    background: #0e6ee3;
}

/* Intro styles end*/

/* Benefits styles start*/

.benefits{
    margin-bottom: 131px;  
}

.benefits_wrap {
    max-width: 1262px;
    background: white;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative; /* РІ СЂРѕРґРёС‚РµР»Рµ РґР»СЏ РїРѕР·РёС†РёРѕРЅРёСЂРѕРІР°РЅРёСЏ*/
}

.benefits_title {
    position: absolute;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    width: 100%;
    top: 0;
    left: 0;
    padding: 93px 100px 88px 100px;
    background: white;
    transform: translateY(-100%); /* РЅР° 100% СЃРѕР±СЃС‚РІ РІС‹РѕС‚С‹ РІРІРµСЂС…*/

}
.benefits_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}
.benefits_card {
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits_card-icon {
    display: block; /* СѓР±СЂР°С‚СЊ РѕС‚СЃС‚СѓРїС‹ Сѓ svg*/
}

.benefits_card-pic {
    margin-bottom: 37px;
    max-width: 66px;
}

.benefits_card-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 26px;
}

.benefits_card-desc {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 39px;
}

.benefits_card-more {
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url(../img/svg/arrow-right-icon.svg) no-repeat 90%;
    transition: .3s;
}

.benefits_card-more:hover, .benefits_card-more:focus{
    background: url(../img/svg/arrow-right-icon.svg) no-repeat right ;
}


/* Benefits styles end*/

/* Places styles start*/
.places{
    margin-bottom: 131px;
}

.wrapper_places {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 36px;
}

.places_view{
    font-size: 16px;
    padding-right: 59px;
    color: #006DFE;
    text-decoration: none;
    background: url(../img/svg/arrow-right-icon.svg) no-repeat 90%;
    transition: .3s;
}

.places_view:hover, .places_view:focus, .places_view:active {
    opacity: 40%;
}

.places_title{
    margin-right: 20px; /* С‡С‚РѕР±С‹ РїСЂРё РёР·РјРµРЅРµРЅРёРё СЌРєСЂР°РЅР° РЅРµ РЅР°Р»РµР·Р°Р»Рё РґСЂСѓРі РЅР° РґСЂСѓР¶РєСѓ*/
}
.places_cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 10px;
}

.places_card{
    position: relative;
    overflow: hidden; /*С‡С‚РѕР±С‹ РЅРµ РІС‹Р»Р°Р·РёР»Рѕ РїСЂРё СѓРІРµР» Р·Р° С€РёСЂРёРЅСѓ РєРѕРЅС‚РµР№РЅРµСЂР°*/
}
.places_card::after{
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    top: 0;
    left: 0;
}

.places_card:hover  .places_card_pic{
    transform: scale(1.25);
}


.places_picture_title{
    position: absolute;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    z-index: 2;
    bottom: 37px;
    left: 29px;
}

.places_card_large{
    grid-column: span 3;
}

.places_card_pic{
    width: 100%;
    object-fit: cover; /* РєР°Рє РёР·РѕР±СЂР°Р¶РµРЅРёРµ РјР°СЃС€С‚Р°Р± РІРЅСѓС‚СЂРё РєРѕРЅС‚РµР№РЅРµСЂР°*/
    transition: .19s;
}

.places_card_pic_size_lg{
    height: 354px;
} 
.places_card_pic_size_sm{
    height: 283px;
}

.places_card_link{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}
.places_card_small{
    grid-column: span 2;
}
/* Places styles end*/

/* Tours styles start */
.tours {
    margin-bottom: 139px;
}
.tours_tour{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 108px;
    align-items: center;
    margin-bottom: 77px;
}
.tour_info{
    padding-left: 47px;
}
.tour_title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}

.tour_desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
}
.tour_more{
    font-size: 16px;
    padding-right: 59px;
    color: #006DFE;
    text-decoration: none;
    background: url(../img/svg/arrow-right-icon.svg) no-repeat 90%;
    transition: .3s;
}

.tour_more:hover, .tour_more:focus, .tour_more:active {
    opacity: 85%;
    background: url(../img/svg/arrow-right-icon.svg) no-repeat right;
}
/* Tours styles end */
 
/* Top places styles start */
.top {
    margin-bottom: 86px; 
}

.top_title{
    margin-bottom: 54px;
}
.top_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 57px;
}
.top_card{ /*РґР»СЏ Р·Р°С‰РёС‚С‹ РІС‹РІРѕРґР° РєРЅРѕРїРєРё РЅР° РѕРґРЅРѕРј СѓСЂРѕРІРЅРµ РїСЂРё СѓРІРµР»РёС‡РµРЅРёРё РєРѕРЅС‚РµРЅС‚Р°*/
    display: flex;
    flex-direction: column;

}
.top_card_pic{
    position: relative;
    margin-bottom: 45px;
}
.top_card_stats{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(21, 24, 36, 0.6);
    padding: 16px 25px;
}

.top_cards_title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 auto 0 0; /* СЃРїРѕР·РёС†РёРѕРЅРёСЂРѕРІР°Р»РѕСЃСЊ Рє РїСЂРѕС‚РёРІ/РєСЂР°СЋ РѕС‚ flex-end  РІ СЂРѕРґРёС‚РµР»Рµ*/
}
.top_card_likes{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 20px;
    background: url(../img/svg/heart-icon.svg) no-repeat right;
    margin-right: 14px;
}
.top_card_comments{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 23px;
    background: url(../img/svg/comment-icon.svg) no-repeat right;
}
.top_card_desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 31px;
}
.top_card_more{
    padding: 12px 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
    background: #006DFE;
    width: 118px; /*РѕРіСЂР°РЅРёС‡РёРІР°РµРј СЂР°Р·РјРµСЂ,С‚.Рє. РёР·-Р·Р° flex-body column СЂР°СЃС€РёСЂ РєРЅРѕРїРєР° РЅР° РІСЃСЋ С€РёСЂРёРЅСѓ*/
    margin: auto 0 0 0; /* СЃРјРµС‰Р°РµРј РєРЅРѕРїРєСѓ Рє РєРѕРЅС†Сѓ РєР°СЂС‚РѕС‡РєРё   */
}

.top_card_more:hover, .top_card_more:focus, .top_card_more:active {
    background: #0e6ee3;
}

/* Top places styles end */

/* Videos styles start */
.videos{
    width: 100%;
}

.videos_wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}
.video_item{
    padding-top: 56.25%;
}

.video_element{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer{
    background: #0E1D28;
    padding: 119px 0;
}

/* Videos styles end */

/* Footer styles start */

.footer_menu_title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer_menu_link{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer_item{
    display: flex;
    flex-wrap: wrap;
}

.logo_footer{
    width: 50%;
}

.footer_nav{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_menu_link:hover, .footer_menu_link:active, .footer_menu_link:focus{
    opacity:0.71;
}

/* Footer styles end */
 

/* Media start */
@media screen and (max-width: 767px){
    .burger{
        display: block;
    }
    .header_nav{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 10;
        padding: 100px;
        text-align: center;
        transform: translateY(-100%); /* hide till it is necessary*/
        /* transition: .3s all linear; */
    }
    .header_nav_active{
        transform: translateY(0%)
    }
    .header_item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 35px; 
    }
    .header_item:last-child{
        margin-bottom: 0px;
    }

    .header_link{
        font-size: 30px;
        line-height: 30px; 
    }
    .burger_close{
        width: 40px;
        height: 40px;
        top: 40px;
        right: 40px;
        position: absolute;
        z-index: 11;
    }
    .burger_close_line{
        display: block;
        position: absolute;
        height: 1px;
        background-color: white;
        width: 100%;
        z-index: 112;
    }
    .burger_close_line:first-child{
        transform: translateY(50%) rotate(45deg);
    }
    .burger_close_line:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }
}
/* Media end */